* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    width: 100vw;
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/love.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffafcc;
    font-size: 4rem;
    text-align: center;
}

button {
    margin-top: 1.5rem;
    padding: 1.2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#buttons-div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#yes {
    background-color: #cdb4db;
}

#yes a {
    text-decoration: none;
}

#no {
    background-color: rgb(207, 203, 203);
}

#yes:hover,
#no:hover {
    transform: scale(1.1);
}


#sayon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #cdb4db;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    z-index: 9999;
    transition: all 0.3s ease;
}

#main-next {
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
}

#home-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    color: #ba8cd4;
    background-color: lavender;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: all 0.3s ease;
}

#sayon:hover,
#home-button:hover {
    transform: scale(1.1);
}

#text h1 {
    color: red;
    font-size: 4rem;
}

@media (max-width:768px) {
    h1 {
        font-size: 2.5rem;
    }

    #buttons-div {
        flex-direction: column;
        align-items: center;
    }

    #no,
    #yes {
        width: 70%;
        font-size: 1rem;
    }

    #main-next {
        gap: 1rem;
    }

    #text h1 {
        font-size: 2rem;
    }

    #main-next img {
        width: 70%;
    }
}

@media (max-width:480px) {
    h1 {
        font-size: 2rem;
    }

    #no,
    #yes {
        width: 70%;
        font-size: 1rem;
        padding: 0.8rem;
    }

    #sayon {
        font-size: 1.5rem;
    }
}